pyvenv.cfg
source/_extensions/__pycache__/

# Adapted from https://www.toptal.com/developers/gitignore/api/python
# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Distribution / packaging
build/
.dist/

# operating system-related files
# file properties cache/storage on macOS
*.DS_Store
# thumbnail cache on Windows
Thumbs.db

# vscode
.vscode/*
!.vscode/tasks.json
*.code-workspace

# IntelliJ/PyCharm
.idea/
