:root {
  --image-width: 25em;
}

/* Removes community ads on read the docs */
div.ethical-sidebar, div.ethical-footer {
    position: absolute;
    left: -99999px;
}

.wy-nav-top, .wy-nav-side, .wy-side-nav-search {
    background: #4e4a4a;
}

.wy-nav-side a:hover {
    background: #404040;
}


img:not(.graphviz) {
    /* Change images to be consitently 400px wide, unless specified in the source */
    width: var(--image-width);
    /* Center all images so that figures and normal images have consistent styling */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center caption text in their respective figure */
div.figure.align-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Make sure captions cannot be wider than the figure they are describing */
span.caption-text {
    display: inline-block;
    max-width: var(--image-width);
    text-align: center;
}
