alabaster==0.7.12
babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
data==0.4
decorator==5.0.5
doc8==0.8.1
docutils==0.16
funcsigs==1.0.2
furo==2021.3.20b30
future==0.18.2
idna==2.10
imagesize==1.2.0
importlib-metadata==3.10.0; python_version < "3.8"
jinja2==2.11.3
latex==0.7.0
livereload==2.6.3
markupsafe==1.1.1
packaging==20.9
pbr==5.5.1
pygments==2.8.1
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
restructuredtext-lint==1.3.2
shutilwhich==1.1.0
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1; python_version >= "3.0"
sphinx==3.4.3
sphinx-autobuild==2021.3.14
sphinx-hoverxref==0.5b1
sphinx-tabs==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxext-linkcheckdiff==0.1.0
sphinxext-opengraph==0.4.1
sphinxext-rediraffe==0.2.5
stevedore==3.3.0
tempdir==0.7.1
tornado==6.1; python_version > "2.7"
typing-extensions==3.7.4.3; python_version < "3.8"
urllib3==1.26.5
zipp==3.4.1; python_version < "3.8"
