name: Link Check

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - name: Install Dependencies
      run: pip install -r source/requirements.txt
    - name: Check Links
      run: make linkcheck
    - name: Archive Linkcheck Failure
      if: ${{ failure() }}
      uses: actions/upload-artifact@v3
      with:
        name: linkcheck-output.txt
        path: build/linkcheck/output.txt
